input[type='radio'] {
  display: none;
}

input[type='radio']:checked + img {
  background-color: rgb(224, 185, 230);
}

.choosepet-div img {
  height: 100px;
  width: 100px;
  margin-top: 10px;
  padding: 20px;
}

.choosepet-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 900px;
  margin: auto;
  border: 1pt solid black;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

input.name-input {
  padding: 9px;
  width: 200px;
  display: flex;
  flex-direction: column;
}

.choosepet-button,
.name-input {
  padding: 9px;
  width: 100px;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

.buttondiv {
  display: flex;
  width: 500px;
  margin: auto;
  margin-top: 10px;
  justify-content: space-evenly;
}

.choosepet-div p {
  text-align: center;
}

.chooseBox {
  display: flex;
  flex-direction: column;
}

.chooseBox .errorMsg {
  margin: auto;
  margin-top: 12px;
  color: red;
}

.errorMsg {
  width: 400px;
}
