input[type='radio'] {
  display: none;
}

input[type='radio']:checked + img {
  animation: bounce2 2s infinite;
  -webkit-filter: drop-shadow(2px 2px 2px #516e62);
  filter: drop-shadow(2px 2px 2px #516e62);
}
@keyframes bounce2 {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.choosepet-div img {
  height: 5.5vw;
  width: 5.5vw;
  padding: 30px;
  margin-bottom: 20px;
}

.choosepet-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 65vw;

  margin: auto;
  border: 2.5pt solid rgb(39, 39, 39);
  padding: 45px 45px 55px 45px;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 8px 8px rgb(39, 39, 39);
  background-color: #dde4e0;
}

input.name-input {
  padding: 9px;
  width: 25vw;
  display: flex;
  flex-direction: column;
}

.choosepet-button,
.name-input {
  padding: 9px;
  width: 15vw;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  box-shadow: 2px 2px rgb(39, 39, 39);
  border-radius: 10px;
  border: 1.5pt solid rgb(39, 39, 39);
}

.buttondiv {
  display: flex;
  width: 50vw;
  margin: 70px auto 0px;
  justify-content: space-evenly;
}

.buttondiv button {
  padding: 5px 10px 5px 10px;
  box-shadow: 2px 2px rgb(39, 39, 39);
  border-radius: 10px;
  border: 1.5pt solid rgb(39, 39, 39);
  background-color: #fefefe;
  font-family: 'Electrolize', sans-serif;
  font-size: 1.5vw;
}

.buttondiv button:hover {
  background-color: #b5c3bb;
  color: #fefefe;
  font-weight: bold;
}

.choosepet-div p {
  text-align: center;
  font-size: 1.2vw;
}

.chooseBox {
  display: flex;
  flex-direction: column;
}

.chooseBox .errorMsg {
  margin: auto;
  margin-top: 12px;
  color: red;
}

.errorMsg {
  width: 400px;
  font-size: 1.2vw;
}
