.petBox {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  margin-top: 1vw;
  border: 2.5pt solid rgb(39, 39, 39);
  height: 33vw;
  width: 33vw;
  border-radius: 5%;
  box-shadow: 8px 8px rgb(39, 39, 39);
  background-color: #dde4e0;
}

.msg {
  display: flex;
  margin: auto;
  width: fit-content;
  margin-top: 10px;
  animation: fadeOut 2s forwards;
  animation-delay: 5s;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.petBox img {
  margin: auto;
  margin-top: 6vw;
  width: 7vw;
  height: 7vw;
}

.petStats p {
  font-size: 1.3vw;
  margin: 0;
}

.petStats {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 20px;
  margin-bottom: 20px;
  width: 25rem;
  text-align: left;
  color: rgba(0, 0, 0, 0.493);
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
  margin-top: 40px;
  width: 40vw;
}
button {
  padding: 8px 30px 10px 30px;
}

.petBox h1 {
  border-bottom: 2.5pt solid rgb(39, 39, 39);
  font-size: 20pt;
  padding-bottom: 10px;
  font-size: 1.7vw;
}
