.homeBox {
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin: auto;
}

.homeBox h1,
img,
p {
  margin: auto;
}
.bubble img {
  height: 1px;
}

.images img {
  width: 9vw;
  height: 9vw;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 60px;
}

.homeBox h1 {
  margin-top: 80px;
  font-size: 3.7vw;
}

.homeBox p {
  font-size: 1.3vw;
}

.bubble {
  opacity: 70%;
  height: 4vw;
  margin-top: 60px;
}
.imageStack {
  display: flex;
  margin: auto;
}

.tiny {
  margin-left: 5px;
  width: 18px;
  height: 18px;
  animation: bounce2 2s infinite;
}
@keyframes bounce2 {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

b {
  font-size: 3.7vw;
  color: rgb(172, 105, 112);
}
