@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Monda:wght@400;700&family=Press+Start+2P&family=Roboto+Mono:wght@100;200&family=Roboto:wght@100;300;500;700;900&display=swap');
h1 {
  font-family: 'Electrolize', sans-serif;
}

p,
button {
  font-family: 'Roboto Mono', sans-serif;
}

.header a {
  font-family: 'Roboto Mono', sans-serif;
}

body {
  background-image: url(https://i.postimg.cc/JzYBqJwG/background.png);
  background-repeat: repeat;
}

.loader {
  display: flex;
  margin: auto;
  color: rgb(172, 105, 112);
  width: fit-content;
  margin-top: 10%;
  font-family: monospace;
  font-size: 5vw;
  font-weight: bold;
}

.loader::before {
  content: '';
  animation: loading 0.6s infinite;
}

@keyframes loading {
  25% {
    content: '|';
  }
  50% {
    content: '/';
  }
  75% {
    /* - or — */
    content: '—';
  }
  100% {
    content: '\\';
  }
}
