@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Monda:wght@400;700&family=Press+Start+2P&family=Roboto+Mono:wght@100;200&family=Roboto:wght@100;300;500;700;900&display=swap');
h1 {
  font-family: 'Electrolize', sans-serif;
}

p,
button {
  font-family: 'Roboto Mono', sans-serif;
}

.header a {
  font-family: 'Roboto Mono', sans-serif;
}
