.board .start {
  border-top: 1pt solid black;
  padding-top: 20px;
}

.rows {
  padding: 15px;
}

.board {
  display: flex;
  flex-direction: column;
}

.board h1 {
  margin: auto;
  margin-bottom: 20px;
  font-size: 2.5vw;
}

.board p {
  font-size: 1vw;
}

.board b {
  font-size: 2.5vw;
}
